h1,h3,h4,h5,h6,p,label {
    color: #FFECEF;
}

form {
    width: 50%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}



.heading {
    text-align: center;
    font-size: 7rem;
}

body{
    width: 100vw;
    height: 100vh;
}

.card {
 background-color: #cafaff;
}

.card  p,h3,h5{
    color: black;
}

.row {
    margin: 2rem;
}

label{
    margin-top: 1rem;
}

form button {
    padding: 2px;
    margin-top: 4%;
      margin-left: 15%;
}